*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(111, 126, 140);
    margin: 50px;
}
body img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}
.profile{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.888);
    padding: 10px;
    border-radius: 1rem;
    line-height: 1.6;
}
button{
    padding: 10px;
    background-color: rgba(0, 255, 255, 0.564);
    color: blue;
    font-weight: 700;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}
button:hover{
    background-color: rgb(15, 126, 126);
    color: white;
}
.social-links a{
    text-decoration: none;
}
.social-links{
    display: flex;
    align-items: center;
    gap: 30px;
}