*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem;
    background-color: aqua;
}
.product-card{
    background-color: rgb(5, 121, 117);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    line-height: 1.6;
    border-radius: 1rem;
    color: white;
}
.product-image{
    border-radius: 1rem;
}
.btn{
    padding: 0.4rem;
    background-color: aqua;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
}
.btn:hover{
    background-color: rgb(20, 54, 54);
}